.wrap {
   position: absolute;
   top: 50%;
   left: 50%;
   overflow: hidden;
   margin: 0 auto;
   padding: 40px 65px;
   width: 600px;
   transform: translate(-50%, -70%);
   border: 1rem solid;
   border-image: linear-gradient(0deg, #12c2e9, #c471ed, #f64f59) 1;
   h1 {
      font-size: 2.2rem;
      font-family: 'Yeon Sung', cursive;
      text-align: center;
   }
   .inner {
      margin-top: 20px;
      .text {
         font-size: 1.05rem;
      }
      
   }
}


